<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css"
        integrity="sha512-dMUQinc1gbNb95AFtKtP4q/g56T8r9oDxlWy0hrHyzfUbMq/vQztAqaR/FDY/bY0R1Ikc30aq94jyQH2Ix++ug=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>

<div class="cell">
<div title="Click here"><h4><a href="/menubar">Menu Bar VC</a></h4></div>
</div>

{% set step_map={"/step/1": "Scenario Setup", "/step/2": "Inputs", "/step/3": "System Setup", "/step/4": "Visualization", "/step/5": "Constraints", "/step/6": "Results"} %}

{% block content %}
{% endblock content %}

<a href="/">Back to landing page</a>


<p class="callout primary">Note: The idea of this intermediate-interface is to enable someone to navigate through the various views of the interface and provide feedbacks on existing component or non-existing components which would be wished. Keep in mind that it is not how the interface is going to look, we are only focusing on the user interaction now. We'll make it look nice once we agree on the structure</p>


<p class="callout primary">Hint1: if you see VC next to a title it means View-Component, i.e. normally you would see what is inside a view-component directly in this page either in a sub window, a popup window or integrated as a component of the current view, you can click on it to have more information about the view component</p>
<p class="callout primary">Hint2: if you see ... next to a title it means it is a link/button to another view (or page of the interface if you wish)</p>
<p class="callout primary">Hint3: we defined <a href="https://open-plan.readthedocs.io/en/latest/tool_interface.html#concepts-definition">a few concepts</a> which we use when talking about the interface (to provide feedback for example) so that we are all on the same page</p>

</html>