{% set step_map={"/step/1": "Scenario Setup", "/step/2": "Inputs", "/step/3": "System Setup", "/step/4": "Constraints", "/step/5": "Visualization"} %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %} Home {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/foundation.min.css') }}">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
        crossorigin="anonymous" />



    <link rel="shortcut icon" href="{{ url_for('static', path='favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

    <script src="{{ url_for('static', path='js/plotly.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>


</head>

<body id="main">
    {% include "menu_bar.html" %}

    {% block content %}
    {% endblock content %}

    <a href="/" class="button secondary">Back to landing page</a>

    <script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/foundation.min.js') }}"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>



    <script>
       Foundation.addToJquery($);
       $(document).foundation();
       //$('#welcome-popup').foundation('reveal', 'open');
    </script>
    <script src="{{ url_for('static', path='js/traceplots.js') }}"></script>






</body>

</html>