
{% extends 'base.html' %}

{% block title %} Create Project {% endblock %}
<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block content %}

{% set project_parameters={
    'Project Name': {'value': '', 'default_value': 'Berlin Energy Cell', 'type': str, 'description': 'Name of the project, defined by user', 'unit': None, 'restrictions': None }, 
    'Project Id': {'value': '', 'default_value': 'proj_3_2', 'type': str, 'description': 'ID for project, assigned by user', 'unit': None, 'restrictions': None }, 
    'Country': {'value': '', 'default_value': 'Germany', 'type': str, 'description': 'Country where the project is located', 'unit': None, 'restrictions': None }, 
    'Project Duration': {'value': '', 'default_value': '1', 'type': float, 'description': 'Number of years for which the energy system is simulated', 'unit': 'Years', 'restrictions': 'A whole or decimal point number' }, 
} %}

<div class="grid-x">

    <div class="cell small-9 grid-x box comment">
        <h2 class="cell">Create Project View</h2>
        <p class="cell small-7">This view allows the user to create a new project and enter a name for the project.</p>
        <p class="cell small-7">The view component to enter the various project parameters is described in-detail <a href="https://open-plan.readthedocs.io/en/latest/tool_interface.html#project-parameters" target="_blank">here</a>.</p>
        <p class="cell small-7">Project parameters can also be directly entered through uploading a file, similar to what is described <a href="https://open-plan.readthedocs.io/en/latest/tool_interface.html#load-scenario" target="_blank">here</a> for loading scenario files.</p>
   </div>


    <div class="cell small-9 grid-x grid-margin-x box">
        <div class="cell auto grid-x view-component">
            <h4 class="cell"><a href="https://open-plan.readthedocs.io/en/latest/tool_interface.html#project-parameters" target="_blank">Project Parameters VC</a></h4>
            <div class="cell">
                <label for="projParamsFile" class="button">Load Project Parameters from file</label>
                <input type="file" id="projParamsFile" class="show-for-sr">
            </div>
            <p class="cell">A list of inputs relevant for the project should be listed here</p>
        </div>

        <div class="cell auto view-component" title="Project Location">
            <h4 class="row"><a href="https://open-plan--82.org.readthedocs.build/en/82/tool_interface.html#map-with-project-location" target="_blank">Project Location Map VC</a></h4class>

            <p class="row">User could pick/see their location on/from a map here</p>
        </div>

     <div class="cell" title="Click here will go to the next step">
        <a href="{{ url_for('project_created') }}" class="success button">Create Project</a>
    </div>

    </div>
</div>




{% endblock content %}