<h4>Load Project Parameters View-Component</h4>

 <ul>
  <li>This view component is rendered as a button with the text 'Load Parameters from file...'</li>
  <li>It allows the user to load an existing project file, pre-defined or already-saved from previous simulations</li>
  <li>Uploading the file lets the program automatically fill-in the required project parameters</li>
  <li>The corresponding view-component is yet to be described in readthedocs</li>
  <li>It is connected to the view-component to read_write_files (file explorer)</li>
</ul>