
{% extends 'base_view_component.html' %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block content %}

<p>The load-scenario view component content is described <a href="https://open-plan.readthedocs.io/en/latest//tool_interface.html#load-scenario">here</a></p>

<iframe src="https://open-plan.readthedocs.io/en/latest//tool_interface.html#load-scenario" width="1000" height="600"></iframe>

 <ul>
  <li>This view component is rendered as a button with the text 'Load Scenario...'</li>
  <li>It allows the user to load an existing project file, pre-defined or already-saved from previous simulations</li>
  <li>It is connected to the view-component to read_write_files (file explorer)</li>
 </ul>

{% endblock content %}

