
{% set menus_dict={"File": ['Load project', 'New project', 'Save project', 'Save project as', 'Export project', 'Exit open_plan'], "Scenarios":['New scenario', 'Load scenario', 'Compare scenarios', 'List of scenarios in the system'], "Preferences": ['Language', 'Display', 'Display welcome view'], "Help":['Read documentation', 'Examples and use cases', 'Contact developers', 'Feedback', 'License information', 'About open_plan…']} %}
<div data-sticky-container>
    <div class="grid-x nav" data-sticky data-options="marginTop:0;">

        <div class="cell nav-menu">
            <div class="nav-logo">
                <a href="https://open-plan-tool.org" target="_blank">
                  <img src="{{ url_for('static', path='assets/logos/open_plan_logo.svg') }}">
                </a>
            </div>
            <ul class="dropdown menu" data-dropdown-menu>
                {% for (menu_name, list_of_submenus) in menus_dict.items() %}
                    <li class="nav-menu__header">
                        <a class="nav_menu__opt" href="#">{{ menu_name }}</a>
                        <ul class="vertical menu nested nav_submenu">
                            {% for submenu in list_of_submenus %}
                                <li><a class="nav_menu__opt nav_submenu_opt" href="#">{{ submenu }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>