{% extends 'base.html' %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block content %}

<div class="grid-x">

    <div><H2>Scenario Definition Page</H2></div>

    <div class="cell">
        <div title="Click here"><h4><a href="/create_scenario">Create New Scenario...</a></h4></div>
        <div title="Click here"><h4><a href="/load_scenario">Load Scenario from file...</a></h4></div>
        <div title="Click here"><h4><a href="/select_scenario">Select Current Scenario...</a></h4></div>
    </div>

    <a class="cell" href="/landing_page">Previous</a>
    <a class="cell" href="/step1">Next</a>

</div>


{% endblock content %}