{% extends 'progression.html' %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}

<div class="grid-x">
    <div class="cell small-9 grid-x grid-margin-x box">
        <h2 class="cell">{{ step_map["/step/"+step_id|string] }}</h2>
        <div class="cell auto view-component"><h4><a href="https://open-plan.readthedocs.io/en/latest/tool_interface.html#visualize-data-series" target="_blank">View Time Series plots VC</a></h4></div>
        <div class="cell auto view-component"><h4><a href="">Tables of data VC</a></h4></div>
        <div class="cell auto view-component grid-x">
            <h4><a href="">Display Important Inputs VC</a></h4>
            <p class="cell">Bim</p>
            <p class="cell">Bam</p>
            <p class="cell">Boum</p>
        </div>

        <p class="cell"><a data-open="sim-progress-bar" class="progress_barmodal1 button">Run simulation</a></p>

    </div>

    <div class="progress_barmodal1 reveal" id="sim-progress-bar" data-reveal>

        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="95" aria-valuemin="0" aria-valuetext="95 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 95%">
                <p class="progress-meter-text">95%</p>
            </div>
            <div>
            <a class="close-button" data-close aria-label="Close reveal" type="button" href="{{ url_for('project_overview') }}">
              Close
            </a>
        </div>
        </div>


    </div>
</div>



{% endblock progression_content %}