{% extends 'progression.html' %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}
    <h2 class="cell">Inputs</h2>


    <div title="Click here"><h4><a href="/scenario_params">Scenario Parameters VC</a></h4></div>
    <div title="Click here"><h4><a href="/load_scenario_params">Load scenario parameters VC</a></h4></div>
    <div title="Click here"><h4><a href = "">Insert Consumption Component</a></h4></div>
    <div title="Click here"><h4><a href = "">Load Consumption Timeseries</a></h4></div>

{% endblock progression_content %}