{% extends 'progression.html' %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}
    <h2 class="cell">Scenario Parameters</h2>

    <div title="Click here"><h4><a href="/scenario_parameters">Enter Scenario Parameters VC</a></h4></div>
    <div title="Click here to load the file containing the scenario parameters">
        <h4>
            <label for="scenarioParamsFileUpload" class="button alert">Load Scenario Parameters ...</label>
            <input type="file" id="scenarioParamsFileUpload" class="show-for-sr">
        </h4>
    </div>

    <p class="cell">Please choose which energy sector you would like to cover in your energy cell/energy system</p>

{% endblock progression_content %}
