{% extends 'base.html' %}

{% block content %}

<div class="grid-x">
    <div class="cell">
        {% import "progression_bar.html" as progression_bar %}
        {{ progression_bar.input(step_idx=4, step_map=step_map) }}
    </div>
    <h2 class="cell">Visualization</h2>

    <div title="Click here"><h4><a href="">View Time Series plots VC</a></h4></div>
    <div title="Click here"><h4><a href="">Tables of data VC</a></h4></div>
    <div title="Click here"><h4><a href="">Display Important Inputs VC</a></h4></div>

    <a class="cell" href="/step3">Previous</a>

    <a class="cell" href="/step5">Next</a>
</div>

{% endblock content %}
