{% extends 'progression.html' %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}

<div class="grid-x">
    <h2>Visualization</h2>
    <div class="cell">
        <div title="Click here"><h4><a href="https://open-plan.readthedocs.io/en/latest/tool_interface.html#visualize-data-series" target="_blank">View Time Series plots VC</a></h4></div>
        <div title="Click here"><h4><a href="">Tables of data VC</a></h4></div>
        <div title="Click here"><h4><a href="">Display Important Inputs VC</a></h4></div>
    </div>
</div>

{% endblock progression_content %}