{% extends 'base.html' %}

{% block content %}


<div class="grid-x">
    <div class="cell">
        {% import "progression_bar.html" as progression_bar %}
        {{ progression_bar.input(step_idx=2, step_map=step_map) }}
    </div>
    <h2 class="cell">Inputs</h2>


    <div title="Click here"><h4><a href="/scenario_params">Scenario Parameters VC</a></h4></div>
    <div title="Click here"><h4><a href="/load_scenario_params">Link to load scenario parameters VC</a></h4></div>
    <div title="Click here"><h4><a href = "">Insert Consumption Component</a></h4></div>
    <div title="Click here"><h4><a href = "">Load Consumption Timeseries</a></h4></div>

    <a class="cell" href="/step1">Previous</a>

    <a class="cell" href="/step3">Next</a>


</div>

{% endblock content %}
