{% load crispy_forms_tags %}

<div id="CreateCommentForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Create Comment</h1>
            </div>
            <div class="modal-body">
                <form class="modal-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form| crispy }}
                    </div>
                     <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                    <button class="btn btn-primary btn-lg" type="submit">Create</button>
                        </div>
                     </div>

                    <br>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->