{% extends 'scenario/scenario_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}

{% block head_block %}
<style>
.highlight {
  background-color: blue;
}
</style>
{% endblock head_block %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}



<main>

    <section class="scenario-create">
    SECTION WIP

        you can click on Proof mvs inputs, then save the json file and upload it with the browse button to

        <a href="https://mvs-eland.rl-institut.de/">MVS simulation server</a>

    </section>


</main>



{% endblock progression_content %}


{% block end_body_scripts %}
<script>

</script>

{% endblock end_body_scripts %}

{% block footer %}
<div class="step-footer">

    <div>
        <a class="btn btn--medium btn--hollow btn--previous" href="{% url 'scenario_steps_edit' proj_id scen_id step_id|add:-1 %}" aria-disabled="true">{% translate "Previous" %}</a>
        <a class="btn btn--medium" href="{% url 'view_mvs_data_input' scen_id %}" >{% translate "Proof parameters JSON file" %} </a>
        <a class="btn btn--medium" href="{% url 'scenario_visualize_results' scen_id %}" >{% translate "Check dashboard" %} </a>
        <a class="btn btn--medium" href="{% url 'update_simulation_results' proj_id scen_id %}" >{% translate "Update results" %} </a>
        <form method="post" action="{% url 'check_simulation_status' scen_id %}">
            {% csrf_token %}
            <button class="btn btn--medium" type="submit" > {% translate "Check status" %}</button>
        </form>
        <form method="post" action="{% url 'request_mvs_simulation' scen_id %}">
            {% csrf_token %}
            <button class="btn btn--medium" type="submit" > {% translate "Run simulation" %}</button>
        </form>

    </div>
</div>
{% endblock footer %}