{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_block %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" />
<link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/css">
{% endblock head_block %}

{% block start_body_scripts %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==">
    </script>
{% endblock %}

{% block content %}

    <div>
        <section class="header">
            <div>
                <div class="header__left"></div>
                <h1 class="header__title">{% translate "Project Setup" %}</h1>
                <div class="header__back">
                    <a href="{% url 'project_search' %}">{% translate "My projects" %}</a>
                </div>
            </div>
        </section>
        <section class="project-setup two-columns">
            <div class="left">
                <div>
                    <div class="text">
                      <span>
                        {% translate "Fill in the following parameters:" %}
                      </span>
                        <span>
                        <button class="btn btn--load" type="button">
                        {% translate "Load parameters from file" %}
                        </button>
                        <span class="icon icon-question" aria-hidden="false" title="{% translate 'For more details about the parameters, please check the documentation' %}"></span>
                      </span>
                    </div>
                    <form method="post">
                        {% csrf_token %}

                        <div class="input-item">
                            {{ project_form.name| as_crispy_field }}
                        </div>
                        <div class="input-item optional">
                            {{ project_form.description| as_crispy_field }}
                        </div>
                        <div class="input-item optional">
                            {{ project_form.country| as_crispy_field }}
                        </div>
                        <div class="input-item">
                            {{ project_form.latitude|as_crispy_field }}
                        </div>
                        <div class="input-item">
                            {{ project_form.longitude|as_crispy_field }}
                        </div>
                        <div class="input-item">
                            {{ economic_data_form.duration|as_crispy_field }}
                        </div>
                        <div class="input-item">
                            {{ economic_data_form.currency|as_crispy_field }}
                        </div>
                        <div class="input-item">
                            {{ economic_data_form.discount|as_crispy_field }}
                        </div>
                        <div class="input-item">
                            {{ economic_data_form.tax|as_crispy_field }}
                        </div>
                        <button class="btn btn--medium" type="submit">{% translate "Update project" %}</button>

                        <!--<div class="input-item">
                            <label for="projectName" class="form-label">Project name</label>
                            <input type="text" class="form-control" id="projectName" placeholder="Name" aria-describedby="projectNameHelp" required>
                            <div id="projectNameHelp" class="form-text">Maximum of 50 characters</div>
                        </div>
                        <div class="input-item optional">
                            <label for="projectDescription" class="form-label">Project description</label>
                            <textarea class="form-control" id="projectDescription" rows="3" placeholder="Description" aria-describedby="projectDescriptionHelp"></textarea>
                            <div id="projectDescriptionHelp" class="form-text">Maximum of 300 characters</div>
                        </div>
                        <div class="input-item">
                            <label for="gpsCoordinates" class="form-label">
                                GPS coordinates
                                <span class="icon icon-question" data-bs-toggle="tooltip" title="Point or shape"></span>
                            </label>
                            <textarea type="text" class="form-control" id="gpsCoordinates" placeholder="53.26485151, 12. 48415124" required></textarea>
                        </div>
                        <div class="input-item">
                            <label for="interestRate" class="form-label">
                                Interest rate
                                <span class="icon icon-question" data-bs-toggle="tooltip" title="A guess of what the interest rate will be in during the project lifetime. Could be provided as constant or timeseries"></span>
                            </label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="interestRate" placeholder="00.000" required>
                                <span class="input-group-text">EUR</span>
                            </div>
                        </div>
                        <div class="input-item">
                            <label for="projectLifetime" class="form-label">
                                Project lifetime
                                <span class="icon icon-question" data-bs-toggle="tooltip" title="Simulation time"></span>
                            </label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="projectLifetime" placeholder="2025-2050" required>
                                <span class="input-group-text">Year</span>
                            </div>
                        </div>-->

                    </form>
                </div>
            </div>
            <div class="right">
                <div>
                    <!-- Insert map -->
                    <div class="map" id="mapid">
                        Here comes a map (maybe)
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script>
        /* Map Show and Latitude-Longitude data autofill */
        var lat = document.getElementById("id_latitude").value;
        var lon = document.getElementById("id_longitude").value;
        var mymap = L.map('mapid').setView([lat, lon], 4);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidmFsa2FsYWlzIiwiYSI6ImNrZGhpZ29peTFnMjIycG5ybWR3aG4yeHIifQ.L4y4PQjkIdO1c7pvzOr2kw'
        }).addTo(mymap);

        var popup = L.popup();

        function onMapClick(e) {
            popup.setLatLng(e.latlng)
                .setContent(`Location Coordinates: <br> (${e.latlng.lat.toFixed(4)}. ${e.latlng.lng.toFixed(4)})`)
                .openOn(mymap);
            $('#id_latitude').val(e.latlng.lat.toFixed(4));
            $('#id_longitude').val(e.latlng.lng.toFixed(4));
        }

        mymap.on('click', onMapClick);
    </script>

{% endblock content %}
