{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}

{% block navbar %}
    {% include "navbar.html" with user=user signup=True documentation_url=documentation_url%}
{% endblock navbar %}

{% block index %}
{% url 'not_implemented' as registration_url %}
{% url 'not_implemented' as privacy_url %}

<main class="signup">
    <div class="signup-frame">
        <div class="signup-frame__img">
            <img src="{% static 'assets/illustrations/open_plan_hero_hexagon.svg' %}" alt="open_plan cells">
        </div>
        <div class="signup-frame__heading">
            {% translate "Welcome to the open_plan tool" %}
        </div>
        <div class="signup-frame__subheading">
            {% translate "Do you already have an account?" %} <a href="{% url 'signup' %}">{% translate "Log in" %}</a>
        </div>
        <form method="post" class="signup-frame__form">
            {% csrf_token %}
            {{ form|crispy }}
            <!--<div class="mb-3">
                <label for="id_email" class="form-label">{% translate "Email address" %}</label>
                <input type="text" class="form-control form-control-lg" id="id_email" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
                <label for="id_password1" class="form-label">{% translate "Password" %}</label>
                <input type="password" class="form-control form-control-lg" id="id_password1" placeholder="Password with at least 8 characters" required>
            </div>-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {% blocktrans %}I have read and accept the <a href="{{ registration_url }}">registration</a> and <a href="{{ privacy_url }}">privacy statements</a> from open_plan.{% endblocktrans %}
                </label>
            </div>
            <button class="btn btn--large" type="submit" id="submitbutton">{% translate "Sign up" %}</button>
        </form>
    </div>
</main>
{% endblock index %}