/* ----------------- Colors ---------------- */
$primary-color: #1F567D;
$secondary-color: #495965;
$white: #fff;
$black: #000;

/* ----------------- Typography ---------------- */
$heading-color: $primary-color;
$text-color: $secondary-color;
$anchor-color: $primary-color;

$font-size-xxlarge: 3rem;
$font-size-xlarge: 1.95rem;
$font-size-large: 1.55rem;
$font-size-medium: 1.25rem;
$font-size-text: 1rem;
$font-size-mobile-xlarge: 1.7rem;
$font-size-mobile-large: 1.3rem;
$font-size-mobile-text: .875rem;

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/lato-v17-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('fonts/lato-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v17-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v17-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

h1, h2, h3, h4, h5, h6 {
	color: $heading-color;
	font-family: Lato, Helvetica, sans-serif;
	font-weight: 700;
}

a,
a:link,
a:hover,
a:active,
a:visited,
a:focus {
	color: $anchor-color;
}

/* ----------------- General ---------------- */
body {
    background-color: $white;
		color: $text-color;
		font-family: Lato, Helvetica, sans-serif;
}

html {
	font-size: 16px;
}

/* ----------------- HEADER SECTION ---------------- */
.header {
	width: 100%;
	background-image: url(../assets/open_plan_hero_hexagon_MOB.svg);
	background-size: cover;
	height: auto;

	@media screen and (min-width: 640px) {
		background-image: url(../assets/open_plan_hero_hexagon_v2.svg);
		background-size: auto;
		height: 58rem;
	}
	
	&__wrap {
		padding: 2rem 1rem 0;
		display: flex;
		flex-direction: column;
	}

	&__logo {
		width: 100%;
		text-align: center;
		img {
			width: 4.5rem;
		}
	}

	&__heading {
		h1 {
			padding-top: 1rem;
			text-align: center;
			font-size: $font-size-mobile-xlarge;
			line-height: 1.95rem;

			@media screen and (min-width: 640px) {
				text-align: left;
				font-size: $font-size-xxlarge;
			}
		}

		p {
			padding-top: .5rem;
			text-align: center;
			font-size: $font-size-mobile-large;
			line-height: 1.75rem;
			font-weight: 300;
			color: $heading-color;
		}
	}
}