/* ----------------- Colors ---------------- */
$primary-color: #1F567D;
$secondary-color: #495965;
$white: #fff;
$black: #000;

/* ----------------- Typography ---------------- */
$heading-color: $primary-color;
$text-color: $secondary-color;
$anchor-color: $primary-color;

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/lato-v17-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('fonts/lato-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v17-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v17-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

h1, h2, h3, h4, h5, h6 {
	color: $heading-color;
	font-family: Lato, Helvetica, sans-serif;
	font-weight: 700;
}

a,
a:link,
a:hover,
a:active,
a:visited,
a:focus {
	color: $anchor-color;
}

p {
 color: $text-color;
}

/* ----------------- General ---------------- */
body {
    background-color: $white;
		color: $text-color;
		font-family: Lato, Helvetica, sans-serif;
}

