div {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 2px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}

.progression_bar a {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}