.system-design {
  @include flex-row;
  height: calc(100vh - #{$top-nav-height} - #{$wizard-height} - #{$footer-scenario-height});
  border-top: $gray-border;

  .components {
    width: 22rem;
    background-color: $primary-gray-color-1;
    border-right: $gray-border;
    overflow-y: auto;
  }

  .components__title {
    @include flex-column-justify-center;
    height: 2.85rem;
    background-color: $white;
    padding: 1rem;

    h2 {
      padding: 0;
      margin: 0;
      font-size: $font-size-normal;
      color: $primary-color-2;
      font-weight: 700;
      display: inline-block;
    }
  }

  .components__content {
    padding: 1rem 1rem 0;

    .section {
      padding-bottom: 1rem;

      &__title h3 {
        font-size: $font-size-normal;
      }

      &__component {
        @include flex-row;
        align-items: center;
        height: 3rem;
        border-radius: $gui-component-radius;
        box-shadow: $box-shadow-frame;
        background-color: $white;
        border-left: 4px solid #A4ADFB;
        padding: .5rem;
        margin-bottom: .5rem;
        @include user-select-none;
        cursor: move;
      }

      .img {
        height: 2rem;
        width: 2rem;
      }

      .name {
        font-size: 1rem;
        font-weight: 300;
        color: $primary-color-2;
        padding-left: .5rem;
      }

      .drag {
        flex: 1;
        text-align: right;
      }

      @each $component-category, $component-color in $component-categories {
        &--#{$component-category} .section__component{
          border-left-color: $component-color;
        }
      }
    }
  }

  .gui {
    position: relative;
    flex: 1;
    height: 100%;

    &__clear {
      @include flex-row;
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      background-color: $white;

      .load-scenario {
        padding-right: 1rem;
      }
    }

    &__empty-text {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      transform: translateX(-50%);

      span {
        color: $primary-color-2;
        font-weight: 300;
      }
    }
  }

  .drawflow-node {
    position: relative;
    height: 8rem;
    width: 9.5rem;
    border-radius: $gui-component-radius;
    background-color: $primary-gray-color-1;
    font-size: 12px;
    border-bottom: 4px solid #A4ADFB;
    cursor: move;

    &:hover {
      background-color: darken($primary-gray-color-1, 2%);
    }

    &:hover::after {
      content: 'X';
      position: absolute;
      top: 0;
      right: 0;
      background-color: $white;
      width: 1.15rem;
      height: 1.15rem;
      font-weight: 700;
      line-height: 1rem;
      padding-left: .25rem;
      border: 1px solid $primary-gray-color-4;
      border-radius: 100%;
      cursor: pointer;
    }

    .drawflow_content_node {
      height: 100%;
      @include flex-column;
      justify-content: space-around;
      align-items: center;
    }

    .inputs {
      bottom: $gui-component-position-btm;
      left: $gui-component-position-side;
    }

    .outputs {
      bottom: $gui-component-position-btm;
      right: $gui-component-position-side;
    }

    .inputs,
    .outputs {
      position: absolute;

      .input,
      .output {
        width: $gui-component-node-size;
        height: $gui-component-node-size;
        border-radius: 100%;
        margin: .25rem 0;
        cursor: pointer;
      }

      .input {
        background-color: #4EC4C4;
      }

      .output {
        background-color: #C46A4E;
      }
    }

    .img {
      position: relative;
      width: $gui-component-bg-size;
      height: $gui-component-bg-size;
      background-color: $white;
      border-radius: 100%;
    }

    // section colors
    @each $component-category, $component-color in $component-categories {
      &--#{$component-category} {
        border-bottom-color: $component-color;
      }
    }

    // components images
    @each $component-name, $component-image in $component-images {
      &--#{$component-name} .img::before {
        @include gui-component-image(url('../../assets/gui/#{$component-image}.svg'));
      }
    }
  }
}

.modal.modal--gui {
  .modal-dialog {
    min-width: 1000px;
  }

  .modal-body .container {
    padding: 0;
  }

  .row {
    margin-bottom: 1rem;
  }
}