.hero {
  padding-top: $top-nav-height;
  @include flex-row-justify-center;

  &> div {
    @include section-width;
    @include flex-row;
  }

  &__text {
    padding-top: 7rem;
    padding-right: 12rem;

    h1 {
      text-align: left;
      font-size: 2.5rem;
      color: $primary-color-2;
      margin-bottom: 1rem;
    }

    span {
      display: block;
      text-align: left;
      font-size: $font-size-normal;
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }

  &__image {
    padding-top: 4rem;

    img {
      max-width: calc(#{$section-max-width} / 2);
    }
  }
}