<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>open_plan</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css"
    integrity="sha512-dMUQinc1gbNb95AFtKtP4q/g56T8r9oDxlWy0hrHyzfUbMq/vQztAqaR/FDY/bY0R1Ikc30aq94jyQH2Ix++ug=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
<main class="landing-page">

  <section class="header">
    <div class="header__wrap">
      <div class="header__logo">
        <img src="../static/assets/open_plan_logo.png" alt="open_plan logo">
      </div>
      <div class="header__heading">
        <h1>We plan energy systems from a cellular perspective</h1>
        <p>In close collaboration with practitioners and project developers we are developing an open-source planning tool</p>
      </div>
      <div class="header__btn">
        <a href="#" class="btn btn--full">Learn more</a>
      </div>
    </div>
  </section>

  <section class="energy-cell">
    <div class="energy-cell__wrap">
      <div class="energy-cell__heading">
        <h2>Energy cells explained</h2>
      </div>
      <div class="energy-cell__content">
        <div class="energy-cell__img">
          <div class="helper"></div>
          <img src="../static/assets/open_plan_EC_explained.svg" alt="Energy cells inside a larger energy cell">
        </div>
        <div class="energy-cell__text">
          <p>The “Verband der Elektrotechnik, Elektronik und Informationstechnik” (VDE) proposes a new energy system model framework based on decentralized energy system. This framework named the cellular approach is the idea that the production and consumption of energy are balanced in a so-called energy cell. The basic concept of an energy cell incorporates the notion that there is no geographical delimitation to it and therefore multiple energy cells interacting with each other can be considered as one bigger cell (different zoom levels). An energy cell can contain many form of energy such as electricity, heat, gas and mobility thus embracing the concept of sector coupling.</p>
        </div>
      </div>
    </div>
  </section>

</main>

{% block content %}
{% endblock content %}

</body>
</html>