<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>open_plan</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css"
    integrity="sha512-dMUQinc1gbNb95AFtKtP4q/g56T8r9oDxlWy0hrHyzfUbMq/vQztAqaR/FDY/bY0R1Ikc30aq94jyQH2Ix++ug=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
<main class="landing-page">

  <section class="header">
    <div class="header__wrap">
      <div class="header__logo">
        <img src="../static/assets/open_plan_logo.png" alt="open_plan logo">
      </div>
      <div class="header__heading">
        <h1>We plan energy systems from a cellular perspective</h1>
        <p>In close collaboration with practitioners and project developers we are developing an open-source planning tool</p>
      </div>
      <div class="header__btn">
        <a href="#tool-anchor" class="btn btn--full">Learn more</a>
      </div>
    </div>
  </section>

  <section class="energy-cell">
    <div class="energy-cell__wrap">
      <div class="energy-cell__heading">
        <h2>Energy cells explained</h2>
      </div>
      <div class="energy-cell__content">
        <div class="energy-cell__img">
          <div class="helper"></div>
          <img src="../static/assets/open_plan_EC_explained.svg" alt="Energy cells inside a larger energy cell">
        </div>
        <div class="energy-cell__text">
          <p>The “Verband der Elektrotechnik, Elektronik und Informationstechnik” (VDE) proposes a new energy system model framework based on decentralized energy system. This framework named the cellular approach is the idea that the production and consumption of energy are balanced in a so-called energy cell. The basic concept of an energy cell incorporates the notion that there is no geographical delimitation to it and therefore multiple energy cells interacting with each other can be considered as one bigger cell (different zoom levels). An energy cell can contain many form of energy such as electricity, heat, gas and mobility thus embracing the concept of sector coupling.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="tool">
    <div class="tool__wrap">
      <div class="tool__logo" id="tool-anchor">
        <img src="../static/assets/open_plan_logo.png" alt="open_plan logo">
      </div>
      <div class="tool__heading">
        <h2>Cross-sectoral, open-source planning tool</h2>
      </div>
      <div class="tool__content">
        <div class="tool__item">
          <div class="icon">
            <img src="../static/assets/icons/i_energy_hex.svg" alt="Heat and electricity inside a house">
          </div>
          <p>The tool is intended to be used for the optimised planning of energy cells for the (partial) supply of the electricity and heat requirements of neighbourhoods, industrial yards and industry in Germany. As active subsystems, energy cells can facilitate the integration of renewable energy and considerably reduce network expansion, since they can be planned and controlled among each other.</p>
        </div>
        <div class="tool__item">
          <div class="icon">
            <img src="../static/assets/icons/i_open_science_hex.svg" alt="Open science circle">
          </div>
          <p>The project will follow the promising open-science approach already implemented by RLI in many projects and will make all data, methods and program code available under a suitable open license. This is intended to comply with scientific standards, because only results generated with open and citable tools and data can be reproduced and reproduced in the field of software-based research.</p>
        </div>
        <div class="tool__item">
          <div class="icon">
            <img src="../static/assets/icons/i_stakeholders_hex.svg" alt="Stakeholders">
          </div>
          <p>Close cooperation within the consortium and with a wide range of stakeholders and users* will expand the research network, opening up a broad field of new, significant and explicitly application-oriented research questions. The open_plan project complements other previous open-science research projects of RLI, such as open_eGO (OpenEnergyPlatfrom), open_FRED (feed-in time series on OpenEnergyPlatform) and enables the comparison, validation and improvement of energy system modelling.</p>
        </div>
      </div>
    </div>
  </section>

</main>

{% block content %}
{% endblock content %}

</body>
</html>