{% extends 'base.html' %}

{% block title %}open_plan - Publications{% endblock %}


{% macro publication_item(label="", sub_text="", file_link="") -%}
<div class="item">
  <div class="item__img">
    <img src="{{ url_for('static', path='assets/open_plan_publication.svg') }}" alt="sheet of paper">
  </div>
  <div class="item__text">
    <h2><a href="{{ url_for('static', path='assets/' + file_link) }}">{{ label }}</a></h2>
    <p>{{ sub_text }}</p>
  </div>
</div>

{%- endmacro %}


{% block content %}
<main class="publications">
  <div class="publications__wrap">
    <div class="publications__header">
      <h1>Publications</h1>
    </div>
    <div class="publications__img">
      <img src="../static/assets/Publications.svg" alt="Computer and scientific publications">
    </div>
    <div class="publications__content">
      {{ publication_item(label="2021-10-20 Workshop", sub_text="Summary of the third stakeholder workshop on tool's first release.", file_link="2021-10-20_stakeholder_workshop_zusammenfassung.pdf") }}
      {{ publication_item(label="2021-07-01 Master Thesis", sub_text="Analyse der Auswirkungen auf die Netzanschlussleistung bei der Erhöhung der Eigenversorgung eines Industrieparks durch den Ausbau von erneuerbaren Energien und Speichern", file_link="Master_thesis_F_Hirschmueller.pdf") }}
      {{ publication_item(label="2021-06-14 Master Thesis", sub_text="Analyzing the Application of Different Energy Cell Sizes as an Approach for the Integration of Decentralized Renewable Energy Sources", file_link="Master_thesis_A_Backhaus.pdf") }}
      {{ publication_item(label="2021-03-17 Workshop", sub_text="Summary of the second stakeholder workshop on tool functionalities.", file_link="2021-03-17_report_stakeholder_workshop.pdf") }}
      {{ publication_item(label="2020-05-13 Workshop", sub_text="Summary of the first stakeholder workshop on tool requirements.", file_link="2020-05-13_report_stakeholder_workshop.pdf") }}
    </div>
  </div>
</main>

{% endblock content %}