{% load static %}
{% load i18n %}
{% load custom_template_tags %}


{% if signup %}
    {% setvar "navbar--signup" as navbar_class %}
{% elif scenario_create %}
    {% setvar "navbar--scenario" as navbar_class %}
{% else %}
    {% setvar "" as navbar_class %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light {{ navbar_class }}">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'project_search' %}">
            <img src="{% static 'assets/logos/open_plan_logo_horizontal.svg' %}" alt="open_plan Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <!--During scenario creation the nav bar does not display all options-->
                    {% if not scenario_create %}
                        <li class="nav-item">
                            <!--results.html-->
                            <a class="nav-link" href="{% url 'scenario_visualize_results' %}">{% translate "Simulation results" %}</a>
                        </li>
                        <li class="nav-item">
                            <!--scenario-empty.html-->
                            <a class="nav-link" href="{% url 'not_implemented' %}?url={{ request.get_full_path }}">{% translate "New scenario" %}</a>
                        </li>
                        <li class="nav-item">
                            <!--project-view.html-->
                            <a class="nav-link" href="{% url 'project_search' %}">{% translate "My projects" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ documentation_url }}" target="_blank" rel="noreferrer">{% translate "Documentation" %}</a>
                        </li>
                    {% endif %}
                {% elif signup %}
                    <!--For user signup the nav bar does not display all options-->
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">{% translate "Contact" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ documentation_url }}" target="_blank" rel="noreferrer">{% translate "Documentation" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'not_implemented' %}?url={{ request.get_full_path }}">{% translate "Use cases" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'not_implemented' %}?url={{ request.get_full_path }}">{% translate "License" %}</a>
                    </li>
                {% endif %}

                <li class="nav-item dropdown locale" id="language-switcher">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />

                        <select class="selectpicker" name="language" style="width: auto;" onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}

                            <option
                                    class="nav-link"
                                    value="{{ language.code }}"
                                    {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}
                                    data-content='<img src="/static/images/flags/{{ language.code }}.png">
                        <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                          {{ language.name_local }}
                          <!-- span style="color:#999;">&nbsp;[{{ language.code }}]</span -->
                        </span>'>
                                {{ language.code }}
                            </option>

                            {% endfor %}
                        </select>
                    </form>
                </li>

                {% if user.is_authenticated %}
                    <!--<li class="nav-item">
                        <a href="{% url 'logout' %}">Logout <span class="glyphicon glyphicon-log-out" style="font-size:13px;"></span></a>
                    </li>

                    <li class="nav-item dropdown" >
                        <a data-toggle="dropdown" href="#" id="userr">
                            <span class="glyphicon glyphicon-user dropdown-toggle" style="font-size:13px;"></span>
                            {{ user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user_info' %}">{% translate "User Info" %}</a></li>
                            <li><a href="{% url 'change_password' %}">{% translate "Change Password" %}</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'project_search' %}">{% translate "Project List" %}</a></li>-->


                <li class="nav-item dropdown profile">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'assets/icons/i_profile.svg' %}" alt="Profile icon">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'not_implemented' %}?url={{ request.get_full_path }}">{% translate "Use cases" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'not_implemented' %}?url={{ request.get_full_path }}">{% translate "License" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'about' %}">{% translate "Contact" %}</a></li> <!-- about.html -->
                        <li><a class="dropdown-item" href="{% url 'user_feedback' %}">{% translate "Feedback" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_info' %}">{% translate "Account" %}</a></li> <!-- account.html -->
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">{% translate "Log out" %}</a></li>
                    </ul>
                </li>


                {% else %}
                    <li class="nav-item">
                        <!-- pages/projects-view-empty.html -->
                        <a class="nav-link" href="{% url 'login' %}">{% translate "Log in" %}</a>
                    </li>
                    <li class="nav-item">
                        <!-- pages/signup.html -->
                        <a class="btn btn--small" href="{% url 'signup' %}" role="button">{% translate "Sign up" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
