{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <br>
    <button onclick="window.open(`{% url 'project_search' %}`, `_self`)" id="backbutton"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>

    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <br>
                    <div class="panel-heading"><h3 class="panel-title" id="titleproj" style="color:#1b1e21;"><strong>User
                        Info</strong></h3></div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="panel-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary btn-lg" type="submit">Save Changes
                                            </button>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}